<!doctype html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DolarPy</title>
    <link rel="stylesheet"
          href="https://storage.googleapis.com/code.getmdl.io/1.0.5/material.green-deep_purple.min.css"/>
    <script src="https://storage.googleapis.com/code.getmdl.io/1.0.5/material.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Aldrich'
          rel='stylesheet' type='text/css'>
    <!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"> -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/autoNumeric-min.js"></script>
    <script type="text/javascript">
    window.onload = function() {

    var compra = [];
    var compra_online = [];
    var venta = [];
    var venta_online = [];

    var chart = new CanvasJS.Chart("chartContainer", {
        animationEnabled: true,
        theme: "dark1",
        zoomEnabled: true,
        title: {
            text: "PYG/USD",
            fontSize: 11,
                fontColor: ' #ccc',
                fontFamily: 'arial'
        },

        toolTip:{
            fontStyle: "normal",
            cornerRadius: 4,
            backgroundColor: "RGBA(37, 41, 45, 0.9)",
            toolTipContent: " x: {x} y: {y} <br/> name: {name}, label:{label} ",
            shared: true,
        },

            axisX: {
            interval: 1,
            intervalType: "day",
            valueFormatString: "DD-MMM-YY",
            },

        axisY: {
            title: "Price in PYG",
            titleFontSize: 24,
            prefix: "Gs",
                    minimum: 0,
        },
        data: [
                {
            type: "spline",
            yValueFormatString: "Gs ####",
            dataPoints: compra,
            name: 'Compra'
            },
                {
            type: "spline",
            yValueFormatString: "Gs ####",
            dataPoints: compra_online,
            name: 'Compra Online'
            },
                {
            type: "spline",
            yValueFormatString: "Gs ####",
            dataPoints: venta,
            name: 'Venta'
            },
                {
            type: "spline",
            yValueFormatString: "Gs ####",
            dataPoints: venta_online,
            name: 'Venta Online'
            },
        ]
    });

    function addData(data) {
        var keys = Object.keys(data);
        var min_viewport_x = keys[keys.length - 30];
        var max_viewport_x = keys[keys.length - 1];
        var min_viewport_y = 9999999;
        var max_viewport_y = 0;

        for(var i=0; i<keys.length; i++){
            var key = keys[i];
            if (data[key]["vision"]["compra_online"] > 0)
            {
                timestamp = new Date(key*1000);
                /*
                compra.push({
                        x: timestamp,
                        y: data[key]["vision"]["compra"]
                });
                */
                compra_online.push({
                        x: timestamp,
                        y: data[key]["vision"]["compra_online"]
                });
                /*
                venta.push({
                        x: timestamp,
                        y: data[key]["vision"]["venta"]
                });
                */
                venta_online.push({
                        x: timestamp,
                        y: data[key]["vision"]["venta_online"]
                });

                if(key >= min_viewport_x){
                    if(data[key]["vision"]["venta_online"] > max_viewport_y)
                    {
                        max_viewport_y = data[key]["vision"]["venta_online"];
                    }
                    if(data[key]["vision"]["compra_online"] < min_viewport_y)
                    {
                        min_viewport_y = data[key]["vision"]["compra_online"];
                    }
                }
            }

        }

        chart.options.axisX.viewportMinimum = new Date(min_viewport_x * 1000);
        chart.options.axisX.viewportMaximum = new Date(max_viewport_x * 1000);
        chart.options.axisY.viewportMinimum = min_viewport_y - 50;
        chart.options.axisY.viewportMaximum = max_viewport_y + 50;
        chart.render();
    }

    $.getJSON("/api/1.0/", addData);
    //$.getJSON("https://gservin.com/dolar.json", addData);

    }
    </script>

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
</head>
<body style="background-color:#EFEFEF;">
<h1 class="aldrich">💸 DolarPy 💸</h1>

<div id="chartContainer" style="height: 370px; width: 100%;"></div>
<script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
<script src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script>

<h6>Actualizado: <span id="updated"></span></h6>
<!--h5 id="algo">Webservice en <a href="/api/1.0/">https://dolar.melizeche.com/api/1.0/</a></h5-->

<script type="text/javascript">
/*
Sorry, I suck at javascript :'(
*/
/*var cchaco;
var vchaco;
var calberdi;
var valberdi;
var cmaxi;
var vmaxi;
var cbcp;
var vbcp;
var refbcp;
var cset;
var vset;
var intcompra;
var intventa;
var ambcompra;
var ambventa;
var mydcompra;
var mydventa;
var bbvacompra;
var bbvaventa;
var updated;
var eccompra;
var ecventa;
var wcompra;
var wventa;
var cvision;
var vvision;

    function get_coti(){
        $.get("/api/1.0/",
                function(json){
                    console.log(json);

                    cchaco = json.dolarpy.cambioschaco.compra;
                    vchaco = json.dolarpy.cambioschaco.venta;
                    calberdi = json.dolarpy.cambiosalberdi.compra;
                    valberdi = json.dolarpy.cambiosalberdi.venta;
                    cmaxi = json.dolarpy.maxicambios.compra;
                    vmaxi = json.dolarpy.maxicambios.venta;
                    cbcp = json.dolarpy.bcp.compra;
                    vbcp = json.dolarpy.bcp.venta;
                    refbcp = json.dolarpy.bcp.referencial_diario;
                    cset = json.dolarpy.set.compra;
                    vset = json.dolarpy.set.venta;
                    intcompra = json.dolarpy.interfisa.compra;
                    intventa  = json.dolarpy.interfisa.venta;
                    ambcompra = json.dolarpy.amambay.compra;
                    ambventa = json.dolarpy.amambay.venta;
                    mydcompra = json.dolarpy.mydcambios.compra;
                    mydventa = json.dolarpy.mydcambios.venta;
                    bbvacompra = json.dolarpy.bbva.compra;
                    bbvaventa = json.dolarpy.bbva.venta;
                    eccompra = json.dolarpy.eurocambios.compra;
                    ecventa = json.dolarpy.eurocambios.venta;
                    wcompra = json.dolarpy.mundialcambios.compra;
                    wventa = json.dolarpy.mundialcambios.venta;
                    cvision = json.dolarpy.vision.compra;
                    vvision = json.dolarpy.vision.venta;


                    $("#cchaco").text(cchaco).autoNumeric('init');
                    $("#vchaco").text(vchaco).autoNumeric('init');
                    $("#calberdi").text(calberdi).autoNumeric('init');
                    $("#valberdi").text(valberdi).autoNumeric('init');
                    $("#cmaxi").text(cmaxi).autoNumeric('init');
                    $("#vmaxi").text(vmaxi).autoNumeric('init');
                    $("#cbcp").text(cbcp).autoNumeric('init');
                    $("#vbcp").text(vbcp).autoNumeric('init');
                    $("#refbcp").text(refbcp).autoNumeric('init');
                    $("#cset").text(cset).autoNumeric('init');
                    $("#vset").text(vset).autoNumeric('init');
                    $("#intcompra").text(intcompra).autoNumeric('init');
                    $("#intventa").text(intventa).autoNumeric('init');
                    $("#ambcompra").text(ambcompra).autoNumeric('init');
                    $("#ambventa").text(ambventa).autoNumeric('init');
                    $("#mydcompra").text(mydcompra).autoNumeric('init');
                    $("#mydventa").text(mydventa).autoNumeric('init');
                    $("#bbvacompra").text(bbvacompra).autoNumeric('init');
                    $("#bbvaventa").text(bbvaventa).autoNumeric('init');
                    $("#eccompra").text(eccompra).autoNumeric('init');
                    $("#ecventa").text(ecventa).autoNumeric('init');
                    $("#wcompra").text(wcompra).autoNumeric('init');
                    $("#wventa").text(wventa).autoNumeric('init');
                    $("#cvision").text(cvision).autoNumeric('init');
                    $("#vvision").text(vvision).autoNumeric('init');
                    $("#cuanto").autoNumeric('init');
                    $("#updated").text(json.updated);
                }
            );
    }

    $(document).ready(function () {
        $.extend($.fn.autoNumeric.defaults, {
                        aSep: '.',
                        aDec: ',',
                        aPad: 'false',
                        aSign: '₲ ',
                    });

        get_coti();
        $("#cuanto").on('keyup',function(e) {
            var valor;
            var calc;


            valor = $("#cuanto").autoNumeric('get') //val()
            valor = (valor==0 ? 1 : valor);
            console.log(valor*refbcp);
            $("#refbcp").autoNumeric('destroy');
            $("#refbcp").text(valor*refbcp).autoNumeric('init');
            $("#cbcp").autoNumeric('destroy');
            $("#cbcp").text(valor*cbcp).autoNumeric('init');
            $("#vbcp").autoNumeric('destroy');
            $("#vbcp").text(valor*vbcp).autoNumeric('init');
            $("#refbcp").autoNumeric('destroy');
            $("#refbcp").text(valor*refbcp).autoNumeric('init');
            $("#cchaco").autoNumeric('destroy');
            $("#cchaco").text(valor*cchaco).autoNumeric('init');
            $("#vchaco").autoNumeric('destroy');
            $("#vchaco").text(valor*vchaco).autoNumeric('init');
            $("#cmaxi").autoNumeric('destroy');
            $("#cmaxi").text(valor*cmaxi).autoNumeric('init');
            $("#vmaxi").autoNumeric('destroy');
            $("#vmaxi").text(valor*vmaxi).autoNumeric('init');
            $("#calberdi").autoNumeric('destroy');
            $("#calberdi").text(valor*calberdi).autoNumeric('init');
            $("#valberdi").autoNumeric('destroy');
            $("#valberdi").text(valor*valberdi).autoNumeric('init');
            //
            $("#cset").autoNumeric('destroy');
            $("#cset").text(valor*cset).autoNumeric('init');
            $("#vset").autoNumeric('destroy');
            $("#vset").text(valor*vset).autoNumeric('init');
            //
            $("#intcompra").autoNumeric('destroy');
            $("#intcompra").text(valor*intcompra).autoNumeric('init');
            $("#intventa").autoNumeric('destroy');
            $("#intventa").text(valor*intventa).autoNumeric('init');
            //
            $("#ambcompra").autoNumeric('destroy');
            $("#ambcompra").text(valor*ambcompra).autoNumeric('init');
            $("#ambventa").autoNumeric('destroy');
            $("#ambventa").text(valor*ambventa).autoNumeric('init');
            //
            $("#mydcompra").autoNumeric('destroy');
            $("#mydcompra").text(valor*mydcompra).autoNumeric('init');
            $("#mydventa").autoNumeric('destroy');
            $("#mydventa").text(valor*mydventa).autoNumeric('init');
            //
            $("#bbvacompra").autoNumeric('destroy');
            $("#bbvacompra").text(valor*bbvacompra).autoNumeric('init');
            $("#bbvaventa").autoNumeric('destroy');
            $("#bbvaventa").text(valor*bbvaventa).autoNumeric('init');


            $("#eccompra").autoNumeric('destroy');
            $("#eccompra").text(valor*eccompra).autoNumeric('init');
            $("#ecventa").autoNumeric('destroy');
            $("#ecventa").text(valor*ecventa).autoNumeric('init');
            //
            $("#wcompra").autoNumeric('destroy');
            $("#wcompra").text(valor*wcompra).autoNumeric('init');
            $("#wventa").autoNumeric('destroy');
            $("#wventa").text(valor*wventa).autoNumeric('init');
            //
            $("#cvision").autoNumeric('destroy');
            $("#cvision").text(valor*cvision).autoNumeric('init');
            $("#vvision").autoNumeric('destroy');
            $("#vvision").text(valor*vvision).autoNumeric('init');
        });
    });

*/
</script>
</body>
</html>
